{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 pt-5 w-50">
        <div class="row bg-secondary rounded mt-4 p-3">
            <div class="col text-center">
                <h1 class="text-white mb-3">V-notes</h1>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
                <button class="btn btn-primary w-50" onclick="signup()">Sign up</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function signup() {
            $.ajax({
                url: '/signup',
                type: 'POST',
                data: {
                    username: $('#username').val(),
                    email: $('#email').val(),
                    password: $('#password').val()
                },
                success: function (response) {
                    alert(response.message)
                    if (response.status) {
                        window.location.href = '/'
                    }
                }
            })
        }
    </script>
{% endblock %}